.post {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    height: 350px;
    width: 300px;
    padding: 20px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
    overflow-wrap: break-word;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-row-gap: 10px;
}

.post-text {
    overflow: scroll;
    max-height: 250px;
}

.post-username {
    font-weight: 700;
    inline-size: 130px;
    overflow: scroll;
    max-height: 35px;
}

.post-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    overflow: scroll;
    max-height: 3em;
}

.post-timestamp {
    font-size: calc(12px);
}
